.wrapper {
  position: relative;
  width: 100%;
  background-color: #f6eee3;
  color: #231f20;
  display: flex;
  flex-direction: column;
}

.contentMaxWidth {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
