.section {
  margin-bottom: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0 10px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.carousel {
  padding: 0 10px;
}
